{% extends 'mascota/base.html' %}
{% load static %}
{% block contenido %}


<main>

    <div class="row container-fluid">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 mt-3">
            <p>Añadir producto a: </p>
            <select class="form-select">
                <option>Perro</option>
                <option>Gato</option>
            </select>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Nombre del Producto:</label>
                <input type="email" class="form-control shadow" id="name_producto" placeholder="Ingrese Nombre del Producto" name="name_producto" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Precio del Producto:</label>
                <input type="email" class="form-control shadow" id="price" placeholder="Ingrese Precio del Producto" name="price" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Stock Disponible:</label>
                <input type="email" class="form-control shadow" id="stock" placeholder="Ingrese Stock Disponible" name="stock" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Descripción:</label>
                <input type="email" class="form-control shadow" id="description" placeholder="Ingrese Descripción" name="description" required>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6 mt-3">
            <h1>Añadir imagen del producto:</h1>
            <a href="#">
                <img src="{%static 'mascota/images/añadir_imagen.jpg'%}" alt="Añadir imagen" width="400" class="img-fluid shadow">
            </a>
            
        </div>
        <div class="col-sm-1"></div>
        <div class="row container-fluid">
            <div class="col-sm-5 mt-5 row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <a class="btn btn-success shadow" href="{% url 'administrador' %}">Volver</a>
                </div>
            </div>
            <div class="col-sm-7 mt-5 row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <a class="btn btn-success shadow" href="#">Añadir o Modificar Producto</a>
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock contenido %}