{% extends 'mascota/base.html' %}
{% load static %}
{% block contenido %}


<main>
    {% load humanize %}
    <div class="row container-fluid">
        <div class="col-sm-1"></div>
        <div class="col-sm-8 mt-3">
            <div class="card">
                <div class="car-body">
                    <h2>Listado de productos</h2>
                    <hr>
                    <table class="table table-striped table-hover table-responsive-sm">
                        <tr>
                            <th>Nombre</th>
                            <th>Animal</th>
                            <th>Categoria</th>
                            <th>Acciones</th>
                        </tr>
                        {% for p in productos %}
                        <tr>
                            <td>{{ p.nombre | capfirst}}</td>
                            <td>{{ p.animal.animal | capfirst}}</td>
                            <td>{{ p.categoria.categoria | capfirst }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 mt-3">
            <a class="btn btn-success shadow" href="{% url 'index' %}">Cerrar Sesión Admin</a>
        </div>
    </div>
    <div class="row fixed-bottom">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <a class="btn btn-success shadow" href="#">Eliminar Producto(s) Elegidos</a>
        </div>
        <div class="col-sm-2 pb-3">
            <a class="btn btn-success shadow" href="{% url 'adminanadymod' %}">Modificar Producto(s) Elegidos</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-success shadow" href="{% url 'adminanadymod' %}">Añadir Producto</a>
        </div>
    </div>

</main>

{% endblock contenido %}