{% extends 'mascota/base.html' %}
{% load static %}
{% block contenido %}


<main>

    <div class="row container-fluid">
        <div class="col-sm-1"></div>
        <div class="col-sm-8 mt-3">
            <div class="list-group shadow">
                <a href="#" class="list-group-item">Peluche perro $2500
                    <input class="form-check-input float-end" type="checkbox" name="producto 1">
                </a>
                <a href="#" class="list-group-item">Galletas para perro $3000
                    <input class="form-check-input float-end" type="checkbox" name="producto 2">
                </a>
                <a href="#" class="list-group-item">Correa de perro $2000
                    <input class="form-check-input float-end" type="checkbox" name="producto 3">
                </a>
                <a href="#" class="list-group-item">Raton masticable $1000
                    <input class="form-check-input float-end" type="checkbox" name="producto 4">
                </a>
                <a href="#" class="list-group-item">Correa de arnés $3000
                    <input class="form-check-input float-end" type="checkbox" name="producto 5">
                </a>
                <a href="#" class="list-group-item">Snack para gato $4500
                    <input class="form-check-input float-end" type="checkbox" name="producto 6">
                </a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 mt-3">
            <a class="btn btn-success shadow" href="index.html">Cerrar Sesión Admin</a>
        </div>
    </div>
    <div class="row fixed-bottom">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <a class="btn btn-success shadow" href="#">Eliminar Producto(s) Elegidos</a>
        </div>
        <div class="col-sm-2 pb-3">
            <a class="btn btn-success shadow" href="adminañadymod.html">Modificar Producto(s) Elegidos</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-success shadow" href="adminañadymod.html">Añadir Producto</a>
        </div>
    </div>

</main>

{% endblock contenido %}