{% extends 'mascota/base.html' %}
{% load static %}
{% block contenido %}


    <main>
        <div class="container-fluid row mt-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form action="index.html" method="post">
                    <h1>Datos de la Tarjeta</h1>
                    <div class="mt-3">
                        <label for="tit_tarjeta" class="form-label">Titular de la Tarjeta:</label>
                        <input type="text" class="form-control shadow" id="tit_tarjeta"
                            placeholder="Ingrese el nombre del Titular de la Tarjeta" name="tit_tarjeta" required>
                    </div>
                    <div class="mt-3">
                        <label for="num_tarjeta" class="form-label">Número de la Tarjeta:</label>
                        <input type="text" class="form-control shadow" id="num_tarjeta"
                            placeholder="Ingrese el Número de la Tarjeta" name="num_tarjeta" required>
                    </div>
                    <div class="mt-3">
                        <label for="vencimiento" class="form-label">Fecha de Vencimiento:</label>
                        <input type="text" class="form-control shadow" id="vencimiento"
                            placeholder="Ingrese la Fecha de Vencimiento de la Tarjeta" name="fecha_de_vencimiento"
                            required>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-success shadow">Confirmar y Comprar</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </main>

    {% endblock contenido %}