{% extends 'mascota/base.html' %}
{% load static %}
{% block contenido %}

<main>
    {% load humanize %}
        <h1 class="text-center mb-1">Producto Nuevo</h1>
        <div class="row container-fluid">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                {% for p in productos %}
                {% if forloop.last %}
                    <div class="carousel-item active mb-3">
                        <a href="{% url 'detalle_producto' p.id %}">
                            <img src={{ p.imagen.url }} alt="" width="600" class="img-fluid">
                            <div class="carousel-caption bg-success rounded-pill shadow">
                                <h3>{{p.nombre | capfirst }}</h3>
                                <p>${{p.precio | intcomma }}</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% endfor %}
            <div class="col-sm-4"></div>
        </div>
        <nav class="navbar navbar-expand-sm verde navbar-light justify-content-center">
            <h1>Productos en oferta</h1>
        </nav>
        <div class="row container-fluid mt-3 mb-5">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="{%static 'mascota/images/proximamente_oferta.jpg' %}" alt="" width="350" class="img-fluid shadow">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="{%static 'mascota/images/proximamente_oferta.jpg' %}" alt="" width="350" class="img-fluid shadow">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="{%static 'mascota/images/proximamente_oferta.jpg' %}" alt="" width="350" class="img-fluid shadow">
                </a>
            </div>
        </div>
    </main>

{% endblock contenido %}