{% extends 'mascota/base.html' %}
{% load static %}
{% block contenido %}
<div class="container mt-3">
    <h4>Registro de Personas</h4>
    <p><a href="{% url 'crear_usuario'%}">+ Crear Persona</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>RUT</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>MAIL</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for p in personas  %}
            <tr>
                <td>{{p.rut}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.apellido}}</td>
                <td>{{p.mail}}</td>
                <td>
                    <a href="{% url 'modificar_usuario' p.rut %}" class="btn btn-warning btn-sm" role="button">Modificar</a>
                    <a href="{% url 'eliminar_usuario' p.rut %}" class="btn btn-danger btn-sm" role="button">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h6>TOTAL REGISTROS: {{total}}</h6>
</div>




{% endblock contenido %}