{% extends 'mascota/base.html' %}
{% load static %}
{% block contenido %}


    <main>
        <div class="row container-fluid">
            <div class="col-sm-1"></div>
            <div class="col-sm-4 mt-3">
                <form action="{% url 'index' %}" method="post">
                    <h1>Iniciar Sesión</h1>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email o Nombre de Usuario:</label>
                    <input type="text" class="form-control shadow" id="email or username" placeholder="Ingrese Email o Nombre de Usuario" name="email or username" required>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control shadow" id="pwd" placeholder="Ingrese Contraseña" name="pswd" required>
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input shadow" type="checkbox" name="remember"> Recordar datos
                    </label>
                </div>
                <div class="mb-3 mt-3">
                    <button type="submit" class="btn btn-success shadow">Iniciar Sesión</button>
                </div>
                </form>
                <a class="btn btn-success shadow" href="{% url 'administrador' %}">Iniciar Sesión como Admin</a>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4 mt-3">
                <form action="{% url 'index' %}" method="post">
                    <h1>Registrarse</h1>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control shadow" id="nuevo_email" placeholder="Ingrese Email" name="nuevo_email" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="nomb_usuario" class="form-label">Nombre de Usuario:</label>
                    <input type="text" class="form-control shadow" id="nuevo_nomb_usuario" placeholder="Ingrese Nombre de Usuario" name="nuevo_nomb_usuario" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="nueva_contraseña" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control shadow" id="nueva_contraseña" placeholder="Ingrese Contraseña" name="nueva_contraseña" id="reg_pass_1" required>
                </div>
                <div class="mb-3">
                    <label for="nueva_contraseña_2" class="form-label">Repetir Contraseña:</label>
                    <input type="password" class="form-control shadow" id="nueva_contraseña_2" placeholder="Repetir Contraseña" name="nueva_contraseña_2" id="reg_pass_2" required>
                </div>
                <button type="submit" class="btn btn-success shadow">Registrarse</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </main>
    {% endblock contenido %}