<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos gatos</title>
    <link rel="stylesheet" href="css/colores.css">
    <!-- Latest compiled and minified CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: rgb(223, 223, 192);">
    <header>
        <nav class="navbar navbar-expand-md verde navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="images/logo_gato.jpg" alt="Logo Empresa" style="width:70px;" class="rounded">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="row container-fluid navbar-nav">
                        <div class="col-sm-1">
                            
                        </div>
                        <div class="col-sm-1">
                            <li class="nav-item">
                                <a href="index.html">
                                    <img src="images/pag_principal.jpg" alt="Pag. Principal" style="width:40px;" class="rounded-pill">
                                </a>
                            </li>
                        </div>
                        <div class="col-sm-1">
                            <li class="nav-item dropdown">
                                <a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" href="#">Productos</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="productoperro.html">Perro</a></li>
                                    <li><a class="dropdown-item" href="productogato.html">Gato</a></li>
                                </ul>
                            </li>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                            <li class="nav-item">
                                <a class="btn btn-outline-dark" href="sobrenosotros.html">Sobre Nosotros</a>
                            </li>
                        </div>
                        
                        <div class="col-sm-2">
                            <li class="nav-item">
                                <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                            </li>
                        </div>
                        <div class="col-sm-1">
                            <li class="nav-item">
                                <button class="btn btn-outline-dark" type="submit">Buscar</button>
                            </li>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1">
                            <li class="nav-item">
                                <a href="login.html">
                                    <img src="images/icono_cuenta.jpg" alt="Cuenta" style="width:40px;" class="rounded-pill">
                                </a>
                            </li>
                        </div>
                        <div class="col-sm-1">
                            <li class="nav-item">
                                <a href="carro.html">
                                    <img src="images/icono_carrito.jpg" alt="Carrito" style="width:40px;" class="rounded-pill">
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <nav class="navbar navbar-expand-sm verde navbar-light justify-content-center mt-3">
        <h1>Productos para Gato</h1>
    </nav>
    <div class="row container-fluid mt-3 mb-5">
        <div class="col-sm-4 text-center">
            <a href="gato1.html">
                <img src="images/ratongato.jpg" alt="" width="600" class="img-fluid">
                <h3>Raton masticable</h3>
            </a>
            <h2>$1000</h2>
            <h6>Ratones masticables para gato</h6>
            
        </div>
        <div class="col-sm-4 text-center">
            <a href="gato2.html">
                <img src="images/correagato.jpg" alt="" width="600" class="img-fluid">
                <h3>Correa de arnés</h3>
            </a>
            <h2 >$3000</h2>
            <h6>Correa de colores para gato.</h6>
            
        </div>
        <div class="col-sm-4 text-center">
            <a href="gato3.html">
                <img src="images/churugato.jpg" alt="" width="600" class="img-fluid">
                <h3>Snack para gato</h3>
            </a>
            <h2>$4500</h2>
            <h6>Snack húmedo para gato marca Churu</h6>
            
        </div>
    </div>
    
</body>
</html>