{% extends 'mascota/base.html' %}
{% load static %}
{% block contenido %}

<main>
    <div class="row mt-5 ms-5 me-5">
        <div class="col-lg-4"><div class="jumbotron-fluid mt-2">
            <h1 class="display-4">Sobre nosotros</h1>
            <hr class="my-4">
            <p>Nuestro grupo, llamado Pettin' space es un grupo llevado netamente por nuestro aprecio por los animales, nos dedicamos a vender y importar productos variados para la vida sana de las mascotas.</p>
            <hr class="my-4">
            <h6>¡Nuestras redes sociales!</h6>
            <img src="{%static 'mascota/images/facebooklogo.png' %}" class="rounded" alt="Facebook"><img src="{%static 'mascota/images/twitterlogo.png' %}" class="rounded" alt="Twitter"><img src="{%static 'mascota/images/instagramlogo.png'%}" class="rounded" alt="Instagram">
          </div></div>
      </div>


    </main>

{% endblock contenido %}