<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carro</title>
    <link rel="stylesheet" href="css/colores.css">
    <!-- Latest compiled and minified CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-color: rgb(223, 223, 192);">
    <header>
        <nav class="navbar navbar-expand-md verde navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="images/logo_gato.jpg" alt="Logo Empresa" style="width:70px;" class="rounded">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="row container-fluid navbar-nav">
                        <div class="col-sm-1">
                            
                        </div>
                        <div class="col-sm-1">
                            <li class="nav-item">
                                <a href="index.html">
                                    <img src="images/pag_principal.jpg" alt="Pag. Principal" style="width:40px;" class="rounded-pill">
                                </a>
                            </li>
                        </div>
                        <div class="col-sm-1">
                            <li class="nav-item dropdown">
                                <a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" href="#">Productos</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="productoperro.html">Perro</a></li>
                                    <li><a class="dropdown-item" href="productogato.html">Gato</a></li>
                                </ul>
                            </li>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                            <li class="nav-item">
                                <a class="btn btn-outline-dark" href="sobrenosotros.html">Sobre Nosotros</a>
                            </li>
                        </div>
                        
                        <div class="col-sm-2">
                            <li class="nav-item">
                                <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                            </li>
                        </div>
                        <div class="col-sm-1">
                            <li class="nav-item">
                                <button class="btn btn-outline-dark" type="submit">Buscar</button>
                            </li>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1">
                            <li class="nav-item">
                                <a href="login.html">
                                    <img src="images/icono_cuenta.jpg" alt="Cuenta" style="width:40px;" class="rounded-pill">
                                </a>
                            </li>
                        </div>
                        <div class="col-sm-1">
                            <li class="nav-item">
                                <a href="carro.html">
                                    <img src="images/icono_carrito.jpg" alt="Carrito" style="width:40px;" class="rounded-pill">
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row container-fluid">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 mt-3">
            <div class="list-group shadow">
                <a href="#" class="list-group-item">Peluche perro $2500
                    <input class="form-check-input float-end" type="checkbox" name="producto 1">
                </a>
                <a href="#" class="list-group-item">Galletas para perro $3000
                    <input class="form-check-input float-end" type="checkbox" name="producto 2">
                </a>
                <a href="#" class="list-group-item">Snack para gato $4500
                    <input class="form-check-input float-end" type="checkbox" name="producto 3">
                </a>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 mt-3">
            <div class="list-group shadow">
                <select class="form-select">
                    <option>Tarjeta de Crédito</option>
                    <option>Tarjeta de Debito</option>
                </select>
            </div>
            <div class="mt-3 mb-3">
                <h1>Precio Total: $10000</h1>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-success shadow" href="#">Eliminar Producto(s) Seleccionado(s)</a>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <a class="btn btn-success shadow" href="conf_pagar.html">Confirmar Metodo de Pago</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</body>

</html>